<main id="main" class="main">
    <div class="pagetitle">
       <h1>List of Candidacies </h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Candidacy</li>
             <li class="breadcrumb-item active">List</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">List of Candidacies </h5>
                
                   <div class="row mb-3">
                     <legend class="col-form-label col-sm-2 pt-0">Filter By :</legend>
                     <div class="col-sm-10">
                        <div class="form-check"> <input class="form-check-input" type="checkbox" id="recent"(click)="onSort()"> <label class="form-check-label" for="gridCheck1"> Recent Candidacy </label></div>
                        <div class="form-check"> <input class="form-check-input" type="checkbox" id="processing" (click)="onProcessing()"> <label class="form-check-label" for="gridCheck2"> Candidacy On Processing </label></div>
                        <div class="form-check"> <input class="form-check-input" type="checkbox" id="accepted" (click)="onAccepted()"> <label class="form-check-label" for="gridCheck2"> Candidacy Accepted </label></div>
                     </div>
                  </div>
            
                  
                   <table class="table ">
                     
                      <thead>
                         <tr>
                            <th scope="col">Offer Title</th>
                            <th scope="col">Offer Description</th>
                            <th scope="col">Candidacy Creation Date</th>
                            <th scope="col">Type Candidacy</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Make Processing</th>
                            <th scope="col">Accept</th>
                           </tr>
                      </thead>
                      <tbody *ngFor="let p of listCandidacy1">
                         <tr>
                           <td>{{p.offer.title}}</td>
                            <td>{{p.offer.description}}</td>
                            <td>{{p.dateCreation}}</td>
                            <td>{{p.typeCandidacy}}</td>
                            <td><a class="btn btn-warning" (click)="onDelete(p.idCandidacy)">Delete</a></td>
                            <td><a class="btn btn-info" (click)="makeProcessing(p.idCandidacy)">Processing</a></td>
                            <td> <a class="btn btn-success" (click)="makeAccepted(p.idCandidacy)"> Accepted</a></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>