<main id="main" class="main">
    <div class="pagetitle">
       <h1>List of Candidacies </h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Tables</li>
             <li class="breadcrumb-item active">Data</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Datatables</h5>
                   <p>Add lightweight datatables to your project.</p>
                   <table class="table datatable">
                      <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Creation Date of Feedback</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            
                           </tr>
                      </thead>
                      <tbody *ngFor="let p of listCandidacy1">
                         <tr>
                            <th scope="row">1</th>
                            <td>{{p.dateCreation}}</td>
                            <td>{{p.status}}</td>
                            <td><a class="btn btn-primary" (click)="onDelete(p.idFeedback)">Delete</a></td>
                            
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>